.header-text {
  justify-content: center;
}

.team-container {
  max-width: calc(100% - 32px);
  margin: 64px 16px 0;
}

.qr-code {
  background: #fafafafa;

  img {
    width: 100%;
  }
}

.team-attribute {
  align-items: center;
  position: relative;

  mat-icon {
    width: 32px;
    height: 32px;
  }
}

.qr-code {
  padding: unset;
}

.leave-team-button {
  width: 100%;
  height: 64px;
}
