<mat-card class="cipher-game-card">
  <mat-card-header>
    <mat-card-title>{{ game!.name }}</mat-card-title>
  </mat-card-header>
  <img *ngIf="game && game.image" mat-card-image [src]="game.image" alt="image">
  <mat-card-content>
    <div style="display: flex; align-items: center; margin-bottom: 16px">
      <mat-icon class="material-icons-outlined" style="margin-right: 18px"> schedule </mat-icon>
      Začíná: <br/> {{ game!.deadline_signup | date : 'longDate' }}
    </div>
    <div style="display: flex; align-items: center; margin-bottom: 16px">
      <mat-icon class="material-icons-outlined" style="margin-right: 18px"> groups </mat-icon>
      kapacita teamu: <br/> {{ game!.teammax }}
    </div>
  </mat-card-content>
  <mat-card-actions>
    <ng-content></ng-content>
  </mat-card-actions>
</mat-card>
