:host {
  display: block;
  flex: 1 1 0;
  min-width: 340px;
  margin: 16px;
}

img[mat-card-image] {
  height: 256px;
  object-fit: cover;
}

@media only screen and (min-width: 700px)  {
  :host {
    max-width: 450px;
  }
}
