.name {
  text-align: center;
  margin-top: 16px;
}

.flex-container {
  padding: 0 16px;
  box-sizing: border-box;
}

.popis-label {
  font-size: 24px;
  margin-bottom: 12px;
}

button {
  margin: 8px 0;
  height: 64px;
}
