:host {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
}

mat-form-field {
  width: calc(100% - 64px);
}

@media screen and (min-width: 560px) {
  mat-form-field {
    width: calc(100% - 256px);
  }
}

button {
  width: 150px;
  height: 48px;
  margin: 0 8px;
  font-size: 1.1rem;
}
