<button class="menu-btn background" mat-icon-button [matMenuTriggerFor]="menu">
  <mat-icon>menu</mat-icon>
</button>
<mat-menu #menu="matMenu" class="menu-container">
  <button mat-menu-item routerLink="/">
    <mat-icon class="material-icons-outlined">home</mat-icon>
    <span>Domů</span>
  </button>
  <ng-container *ngIf="userObs | async as user">
    <button mat-menu-item disabled="disabled" *ngIf="user.loggedIn">
      <mat-icon class="material-icons-outlined"> person </mat-icon>
      {{ user.person.nickname }}
    </button>
    <button mat-menu-item (click)="logInOut(user.loggedIn); false">
      <mat-icon class="material-icons-outlined">
        {{ user.loggedIn ? 'login' : 'logout' }}
      </mat-icon>
      <span>{{ user.loggedIn ? 'Odhlásit se' : 'Přihlásit se' }}</span>
    </button>
  </ng-container>
  <div class="menu-streacher"></div>
</mat-menu>
