<div class="games-header mat-display-1">
  <div>Vítejte na stránkách šifrovačky</div>
  <div class="join-btn">
    <button mat-raised-button color="primary" routerLink="/lobby"> Zapojit se </button>
  </div>
  <mat-icon> keyboard_arrow_down </mat-icon>
</div>
<div class="cards-container">
  <ng-container *ngIf="gamesObs | async as games">
    <app-game-card *ngFor="let game of games" [game]="game[0]">
      <button mat-button *ngIf="game[1]">
        Zapojit se
      </button>
      <button mat-button *ngIf="!game[1]">
        Pokračovat
      </button>
      <button mat-button> DETAIL </button>
    </app-game-card>
  </ng-container>
</div>
