:host {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.cipher-game-card {
  flex: 1 1 0;
  min-width: 300px;
  margin: 16px;
}

.calendar-button {
  mat-icon {
    font-size: 16px;
  }
}

@media only screen and (min-width: 700px)  {
  .cipher-game-card {
    max-width: 450px;
  }
}
