<div class="cards-container">
  <ng-container *ngIf="gamesObs | async as games">
    <app-game-card *ngFor="let game of games" [game]="game[0]">
      <ng-container *ngIf="!game[1]">
        <button mat-button [routerLink]="['/team/create', game[0].cipher_game_id]">
          VYTVOŘIT TEAM
        </button>
      </ng-container>
      <ng-container *ngIf="game[1]">
        <button mat-button [routerLink]="['/cipher/visible', game[0].cipher_game_id]">
          POKRAČOVAT
        </button>
        <button mat-button
                [routerLink]="['/team', game[1]?.team_id, game[0].cipher_game_id]">
          MŮJ TEAM
        </button>
      </ng-container>
      <button mat-button [routerLink]="['/game/detail', game[0].cipher_game_id]"> DETAIL </button>
    </app-game-card>
  </ng-container>
  <div class="card-placeholder"></div>
  <div class="card-placeholder"></div>
</div>
