:host {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#reader {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (orientation:landscape) {
  #reader {
    width: 100%;
  }
}

@media screen and (orientation:portrait) {
  #reader {
    width: 100vh;
  }
}
