<div class="main-menu-item noselect" matRipple routerLink="/game/pick">
  <svg viewBox="0 0 1 1"></svg>
  <div>
    <mat-icon class="material-icons-outlined">add</mat-icon><br/>
    Založit team
  </div>
</div>

<div class="main-menu-item noselect" matRipple routerLink="/team/join">
  <svg viewBox="0 0 1 1"></svg>
  <div>
    <mat-icon class="material-icons-outlined">person_add</mat-icon><br/>
    Přidat se k teamu
  </div>
</div>

<div class="main-menu-item noselect" matRipple>
  <svg viewBox="0 0 1 1"></svg>
  <div>
    <mat-icon class="material-icons-outlined">leaderboard</mat-icon><br/>
    Žebříček
  </div>
</div>

<div class="main-menu-item noselect" matRipple>
  <svg viewBox="0 0 1 1"></svg>
  <div>
    <mat-icon class="material-icons-outlined">admin_panel_settings</mat-icon><br/>
    Admin panel
  </div>
</div>

<div class="filler"></div>
<div class="filler"></div>
