<div class="games-header">
  <ng-container *ngIf="cipherRunning; else countdown">
    <div>Vítejte na stránkách šifrovačky</div>
    <div class="join-btn">
      <button mat-raised-button color="primary" routerLink="/lobby"> Zapojit se</button>
    </div>
  </ng-container>
  <ng-template #countdown>
    <div class="logo" [innerHTML]="svgImage | async"></div>
    <app-countdown></app-countdown>
  </ng-template>
  <mat-icon class="down"> keyboard_arrow_down</mat-icon>
</div>
<div class="how-to-join">
  <button mat-raised-button color="primary" [routerLink]="['/team/join']">
    Přidat se k teamu
  </button>

  <div class="mat-display-1"> Vytvořit team: </div>
</div>
<app-cipher-game-list></app-cipher-game-list>
