<ng-container *ngIf="cipherObs | async as cipher">
  <div class="mat-display-1 label"> {{ cipher.name }} </div>
  <div class="cipher-container">
    <markdown [data]="cipher.description" class="markdown"></markdown>
  </div>
  <div class="download" *ngIf="cipher.cipher_file">
    <button mat-raised-button color="primary">
      <mat-icon style="margin-right: 2px;">download</mat-icon>
      {{ cipher.cipher_file }}
    </button>
  </div>
  <div class="mat-display-1 hint-label"> Nápovědy </div>
  <mat-list>
    <mat-list-item>Item 1</mat-list-item>
  </mat-list>
  <mat-form-field appearance="outline" class="solution">
    <mat-label> Řešení </mat-label>
    <textarea rows="5" matInput placeholder="Placeholder"></textarea>
  </mat-form-field>
</ng-container>
