<ng-container *ngIf="cipherObs | async as cipher">
  <div class="mat-display-1 label"> {{ cipher.name }} </div>
  <div class="cipher-container">
    <markdown [data]="cipher.description" class="markdown"></markdown>
  </div>
  <div class="button-row" *ngIf="cipher.cipher_file">
    <button mat-raised-button color="accent">
      <mat-icon style="margin-right: 2px;">download</mat-icon>
      {{ cipher.cipher_file }}
    </button>
  </div>
  <div class="mat-display-1 hint-label"> Nápovědy </div>
  <mat-list class="hint-list" *ngIf="cipher.hints">
    <mat-list-item *ngFor="let hint of cipher.hints"
                   style="cursor: pointer"
                   (click)="hintClick()" matRipple>
      <mat-icon mat-list-icon> help_outline </mat-icon>
      <div mat-line> Nápověda </div>
      <div mat-line> ({{ getHintCostText(hint) }}) </div>
    </mat-list-item>
  </mat-list>
  <mat-form-field appearance="outline" class="solution">
    <mat-label> Řešení </mat-label>
    <textarea rows="5" matInput placeholder="Placeholder"></textarea>
  </mat-form-field>
  <div class="button-row">
    <button mat-raised-button color="primary">
      Odevzdat
    </button>
  </div>
</ng-container>
