:host {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.main-menu-item {
  max-height: 200px;
}

.mat-display-1 {
  margin-top: 48px;
}

mat-icon.done {
  color: green;
}

.btn-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.title {
  text-align: center;
  width: 100%;
}
