<div *ngIf="gameObs | async as game" class="mat-display-1 title"> {{ game.name }} </div>
<div class="btn-container">
  <ng-container *ngIf="ciphersObs | async as ciphers">
    <div class="main-menu-item noselect" matRipple
         *ngFor="let cipher of ciphers"
         [routerLink]="['/cipher', cipher.cipher_id]">
      <svg viewBox="0 0 1 1"></svg>
      <div>
        <mat-icon *ngIf="cipher.solved" class="material-icons-outlined success">
          done_outline
        </mat-icon>
        <mat-icon *ngIf="!cipher.solved" class="material-icons-outlined warn">
          help_outline
        </mat-icon><br/>
        {{ cipher.name }}
      </div>
    </div>
  </ng-container>
</div>
